.container {
    width: 100%;
    margin: auto;
    padding: 0 20px;

    @media screen and (min-width: $screen-sm) {
        width: 750px;
    }

    @media screen and (min-width: $screen-md) {
        width: 980px;
    }

    @media screen and (min-width: $screen-lg) {
        width: 1180px;
        padding: 0;
    }
}